.car-track {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 15%;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
}

.car-track--selected {
    background: rgb(48,197,255);
    background: radial-gradient(at 50% 100%, rgba(48,197,255,1) 0%, rgba(23,24,28,0) 80%);
}

.car-track__head {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.car-track__header {
    margin: 0;
    font-size: 1.1rem;
    color: #30c5ff;
}

.car-track__head-button {
    border: 1px solid #30c5ff;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #30c5ff;
    background-color: #17181c;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.car-track__head-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #30c5ff;
    color: #17181c;
}

.car-track__head-button:active {
    transform: scale(1.1);
}

.car-track__engine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.car-track__engine-button {
    border: 1px solid #30c5ff;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #30c5ff;
    background-color: #17181c;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.car-track__engine-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #30c5ff;
    color: #17181c;
}

.car-track__engine-button:active {
    transform: scale(1.1);
}

.car-track__engine-button--active {
    background-color: #30c5ff;
    transform: scale(1.05);
    color: #17181c;
}

.car-track__engine-button:disabled {
    pointer-events: none;
    background-color: #333333;
    border-color: #555555;
    color: #555555;
}

.car-track__track {
    grid-column: 2 / span 2;
    grid-row: 2;
    border-bottom: 3px solid #30c5ff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.car-track__car {
    width: 70px;
    height: 20px;
    transform: scaleX(-1);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(../assets/svg/sports-car-icon.svg);
    mask-image:url(../assets/svg/sports-car-icon.svg);
}

.car-track__car--running {
    --eta: 5s;
    animation-duration: var(--eta);
    animation-name: drive;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@media (max-width: 700px) {
    .car-track__car {
        width: 56px;
        height: 16px;
    }

}

@keyframes drive {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 85%;
    }
}

.car-track__goal {
    position: relative;
    bottom: 3px;
    grid-column: 3;
    grid-row: 2;
    height: 100%;
    background-color: red;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(../assets/svg/flag-svgrepo-com.svg);
    mask-image:url(../assets/svg/flag-svgrepo-com.svg);
}


